<% provide(:title, 'The Text Outline Project') %>
<div class='center jumbotron'>
  <h1>Textop</h1>
  <p>Textop is coming soon!</p>
  <p><%= link_to "New account", signup_path, class: 'btn btn-lg btn-primary' %></p>
</div>
