<% provide(:title, "Privacy") %>
<h1>Privacy Policy for Textop</h1>
<p>Privacy policy to come. Where your privacy is not demonstrated in and
  guaranteed by FOSS code, we will put legal constraints on ourselves with the
  policy. In short: we will not access your data, ever. We will encrypt
  everything on the server and in transit, so we will not <em>be able</em>
  to access your data.</p>
