      <footer class="footer">
        <small>
          <%= link_to "Textop", root_path %>, the text outline project.
        </small>
        <nav>
          <ul>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Privacy", privacy_path %></li>
          </ul>
        </nav>
      </footer>
