    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <b><%= link_to "TEXTOP", root_path, id: "logo" %></b>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Login', signup_path %></li>
          </ul>
        </nav>
      </div>
    </header>
